body {
    font-family: Arial, sans-serif;
    background-color: #303030;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: rgb(4, 136, 96);
    padding: 20px;
    color: #fff;
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

h2 {
    color: #eeeeee;
}

p {
    line-height: 1.6;
    color: #b3b3b3;
}

figure {
    margin: 20px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

figcaption {
    color: #777;
    margin-top: 10px;
}